
body {
	font-family: times new roman;
	background-image:  url(Zoperating.jpg);
	border: 15 px solid black;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	color: white;
}


h1 {
	color: white;
	text-shadow: 20px 20px 50px #4C4C4C;
	text-align: center;
	border-color: black;
	border-width: medium;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 50pt;
 	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Cormorant Garamond', serif;
	font-family: 'Dancing Script', cursive;
	font-family: 'Song Myung', serif;
	font-family: 'Source Serif Pro', serif;
	text-shadow: 2px 2px 5px black;
}

h2 {
margin-top: 50px;
text-shadow: 2px 2px 5px black;
color: pink;

}


h3 {
font-size: 18pt;
color: pink;
margin-top: 50px;
margin-bottom: 10px;
font-family: 'Satisfy', cursive; 
}

P {
	line-height: 1.5em;
	text-align: left;
	margin: 10px;
	font-size: 16pt;
	width: 800px;
}

ul {
	line-height: 1.5em;
	text-align: left;
	margin: 10px;
	font-size: 16pt;

}

div {
	width: 1150px;
	padding: 45px;
	border: 15px solid white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background: white;
	box-shadow: 20px 20px 50px #4C4C4C;
	margin-bottom: 80px;
	margin-top: 50px;
	background-color: rgba(0,55,109,0.79);
	text-align: justify;
}


img {
	float: right;
	margin-left: 20px;
	margin-right: 10px;
	border: 4px white solid;
	border-radius: 10px;
	box-shadow: 6px 6px 6px #F8E3FB;
}

img.one {
	float: right;
	margin-left: 20px;
	margin-right: 10px;
	border: 4px white solid;
	border-radius: 10px;
	box-shadow: 6px 6px 6px #F8E3FB;
	
}

table {
	background: white;
	width: 100%;
	text-align: left;
	color: black;
	padding: 5px;
	border: 2px solid black;
	border-collapse: collapse;
	text-align: left;
	table-layout: fixed;
}

th.two {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 45%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
}

th.three {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 10%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
}


th.four {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 45%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
	
	
}
th.five {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 33%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
}
th.six {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 10%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
}
th.seven {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 12%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
}
th.seven {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 48%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
}


td {
	color: black;
	padding: 3px;
	width: 33%;
	border: 1px solid black;
	border-collapse: collapse;

}

th {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 33%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
}

tr:hover {background-color: #F8E3FB;}
tr:nth-child(even) {background-color: #E4EBFA;}

a {
	color: white;
	font-size: 15pt;
}

hr {
	height: 5px;
	background-color: white;
	margin-top: -3px;
	margin-bottom: -3px
}

p.nine {
	font-size: 16pt;
	color: white;
}



