
body {
	font-family: Helvetica Ultra Compressed;
	background-image:  url(Zoperating.jpg);
	border: 15 px solid black;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	color: white;
}


h1 {
	color: white;
	text-shadow: 20px 20px 50px #4C4C4C; 
	text-align: center;
	border-color: black;
	border-width: medium;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 50pt;
	margin-top: 0px;
	margin-bottom: 0px;
font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Song Myung', serif;
font-family: 'Source Serif Pro', serif;
}

P {
	line-height: 1.5em;
	text-align: left;
	margin: 10px;
	font-size: 16pt;
}

ul {
	line-height: 1.5em;
	text-align: left;
	margin: 10px;
	font-size: 16pt;

}

div {
	width: 1150px;
	padding: 45px;
	border: 15px solid white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background: white;
	box-shadow: 20px 20px 50px #4C4C4C;
	margin-bottom: 80px;
	margin-top: 50px;
	background-color: rgba(0,55,109,0.79);
}


img {
	float: right;
	margin-left: 20px;
	width: 300px;
	border: 5px white solid;
	border-radius: 10px;
	box-shadow: 10px 10px 12px #4C4C4C;

}

table {
	Background: white;
	width: 100%;
	text-align: left;
	color: black;
	padding: 5px;
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
	text-align: left;
}



td {
	color: black;
	padding: 3px;
	width: 33%;
	border: 1px solid black;
	border-collapse: collapse;
	
}

th {
	color: solid black;
	background-color: #92B0EC;
	color: black;
	padding: 3px;
	text-align: center;
	width: 33%;
	border: 1px solid black;
	border-collapse: collapse;
	height: 70px;
	font-size: 20pt;
}

tr:hover {background-color: #E4EBFA;}


a {
	color: white;
}

hr {
	size: 100px;
	
	
}






















